@model _Anmol.Entity.CowModel

@{
    ViewBag.Title = "GetCowDetails";
}

<h2>Cow Details</h2>

<div class="container">    
    <div class="row">
        <div class="col-md-8 text-center">
                <img class="img-circle" src="~/Document/CowImage/@Model.ImageName" width='100' height='100' style="margin-top:15px;" onclick="Popup_Image('@Model.ImageName')">          
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-center">
            <h2>
                @Html.DisplayFor(model => model.CowID) -
                @Html.DisplayFor(model => model.CowName)
            </h2>       
        </div>
    </div>
     
    <div class="row">
        <div class="col-md-6">
            <h2>Personal Details:</h2>
            <h3>
                <label>Father Name</label> -
                @Html.DisplayFor(model => model.FatherName)
            </h3>
            <h3>
                <label>Mother Name</label> -
                @Html.DisplayFor(model => model.MotherName)
            </h3>
            <h3>
                <label>DoB</label> -
                @Model.DoB.Value.ToShortDateString()               
            </h3>
            <h3>
                <label>Lactation</label> -
                @Html.DisplayFor(model => model.Lactation)
            </h3>
        </div>
        <div class="col-md-6">
            <h2>Milk Production:</h2>
            <h3>
                <label>Last Production</label> -
                @Html.DisplayFor(model => model.LastProduction)
            </h3>
            <h3>
                <label>Last 7 Days Production</label> -
                @Html.DisplayFor(model => model.Last7DaysProduction)
            </h3>
            <h3>
                <label>Last 30 Days Production</label> -
                @Html.DisplayFor(model => model.Last30DaysProduction)
            </h3>
            <h3>
                <label>Last 365 Days Production</label> -
                @Html.DisplayFor(model => model.Last365DaysProduction)
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Medical Detail:</h2>
            <h3>Treatment -</h3>
            <h3>
                @Html.DisplayFor(model => model.TreatmentDate) -
                @Html.DisplayFor(model => model.TreatmentTitle) -
                @Html.DisplayFor(model => model.TreatmentNotes)
            </h3>
            <h3>Reports -</h3>
            <h3>
                @Html.DisplayFor(model => model.ReportName) -
                @Html.DisplayFor(model => model.ReportNotes)
            </h3>
        </div>
    </div>       

</div>
